<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Open Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo" type="images/OpenMarket logo_4.png" href="images/OpenMarket logo_4.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/b408879b64.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>

    <header class="pc">
        <nav class="nav-inicio">
            <a class="nav-icon" href="/index.html">
              <h1>OpenMarket</h1>
            </a>
            <div class="buscador">
                <form action="get">
                    <input type="text" placeholder="Buscar..." />
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="btns-nav">
                <i class="fas fa-user-circle"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
          </nav>
    </header>


    <header class="mobile">
        <img class="cuenta" src="/images/burger menu (2).png" alt="">
        <a href="/carrito"><img class="carrito-compra" src="/images/burger menu (3).png" alt="carrito"></a>
        <button class="burger1"><i class="fas fa-bars burger"></i></button>
        <div class="row-header">
            <div class="logo">
                <img class="logo" src="images/OpenMarket logo_4.png" width="10px" alt="Logo OpenMarket">
            </div>
            <div class="search-bar header-item">
                <form action="GET">
                    <input type="text" id="search" placeholder="Buscar">
                    <div>
                        <button class="submit-clickable"><i class="fa fa-search lupa"></i></button>
                    </div>
                </form>
            </div>
            <nav class="navbar">
                <ul class="navbar-items">
                    <a href="#">
                        <li>Crea tu ceunta</li>
                    </a>
                    <a href="#">
                        <li>Mi cuenta</li>
                    </a>
                    <a href="#">
                        <li>Mi carrito</li>
                    </a>
                </ul>
                <ul class="navbar-items">
                    <a href="#">
                        <li>Categorias</li>
                    </a>
                    <a href="#">
                        <li>Ofertas del dia</li>
                    </a>
                    <a href="#">
                        <li>Ayuda</li>
                    </a>
                </ul>
            </nav>
    </header>


    <div>
        <img class="banner" src="images/electronica_d.avif" alt="banner">
    </div>
    <h3 class="ofertas">OFERTAS MAS DESTACADAS</h3>
    <a class="azul" href="#">ver todo ></a>


    <section class="productos-ofertas">
        <a href="/producto/SmartTVde60pulgadas4KMarcaRCA">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/tele.webp" alt="" width="150px">
                </div>
                <div class="desc-producto">
                    <h1>Smart Tv de 60 pulgadas 4k RCA</h1>
                    <h2>ARS$225,000</h2>
                    <div class="info-ofertas">
                        <div class="desc-ofertas">
                            <p class="envio-free">Envio gratis</p>
                            <p>Ver mas...</p>
                        </div>
                        <img src="/images/carrito.jpg" alt="" class="carro-ofertas">
                    </div>
                </div>
            </article>
        </a>
        <a href="/producto/SmartTVde60pulgadas4KMarcaRCA">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/netbook.jpg" alt="" width="200px">
                </div>
                <h1>Notebook Hp 245 G8 14' Amd Ryzen 5 5500u 8gb Ram 256gb</h1>
                <h2>ARS$539,999</h2>
                <div class="info-ofertas">
                    <div class="desc-ofertas">
                        <p class="envio-free">Envio gratis</p>
                        <p>Ver mas...</p>
                    </div>
                    <img src="/images/carrito.jpg" alt="" class="carro-ofertas">
                </div>
            </article>
        </a>
        <a href="/producto/SmartTVde60pulgadas4KMarcaRCA">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/auriculares.jpeg" alt="" width="100px">
                </div>
                <h1>Auriculares inalámbricos JBL Tune 510BT JBLT510BT</h1>
                <h2>ARS$34,499</h2>
                <div class="info-ofertas">
                    <div class="desc-ofertas">
                        <p class="envio-free">Envio gratis</p>
                        <p>Ver mas...</p>
                    </div>
                    <img src="/images/carrito.jpg" alt="" class="carro-ofertas">
                </div>
            </article>
        </a>
        <a href="/producto/SmartTVde60pulgadas4KMarcaRCA">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/iphone.webp" alt="" width="100px">
                </div>
                <h1>Iphone 14 Pro</h1>
                <h2>ARS$34,499</h2>
                <div class="info-ofertas">
                    <div class="desc-ofertas">
                        <p class="envio-free">Envio gratis</p>
                        <p>Ver mas...</p>
                    </div>
                    <img src="/images/carrito.jpg" alt="" class="carro-ofertas">
                </div>
            </article>
        </a>
        <a href="/producto/SmartTVde60pulgadas4KMarcaRCA">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/antebrazo.jpeg" alt="" width="100px">
                </div>
                <h1>Hand Grip Mano</h1>
                <h2>ARS$29,000</h2>
                <div class="info-ofertas">
                    <div class="desc-ofertas">
                        <p class="envio-free">Envio gratis</p>
                        <p>Ver mas...</p>
                    </div>
                    <img src="/images/carrito.jpg" alt="" class="carro-ofertas">
                </div>
            </article>
        </a>
        <a href="/producto/SmartTVde60pulgadas4KMarcaRCA">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/Bicicleta.jpg" alt="" width="100px">
                </div>
                <h1>Bicicleta Mountain Bike Aluminio R29 21V</h1>
                <h2>ARS$140,000</h2>
                <div class="info-ofertas">
                    <div class="desc-ofertas">
                        <p class="envio-free">Envio gratis</p>
                        <p>Ver mas...</p>
                    </div>
                    <img src="/images/carrito.jpg" alt="" class="carro-ofertas">
                </div>
            </article>
        </a>
        <a href="/producto/SmartTVde60pulgadas4KMarcaRCA">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/sillon.webp" alt="" width="100px">
                </div>
                <h1>Sillon Esquinero tela Chenille</h1>
                <h2>ARS$255,000</h2>
                <div class="info-ofertas">
                    <div class="desc-ofertas">
                        <p class="envio-free">Envio gratis</p>
                        <p>Ver mas...</p>
                    </div>
                    <img src="/images/carrito.jpg" alt="" class="carro-ofertas">
                </div>
            </article>
        </a>
        <a href="/producto/SmartTVde60pulgadas4KMarcaRCA">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/jostik.jpeg" alt="" width="100px">
                </div>
                <h1>Joystick Dualshock Ps4 Black</h1>
                <h2>ARS$40.500</h2>
                <div class="info-ofertas">
                    <div class="desc-ofertas">
                        <p class="envio-free">Envio gratis</p>
                        <p>Ver mas...</p>
                    </div>
                    <img src="/images/carrito.jpg" alt="" class="carro-ofertas">
                </div>
            </article>
        </a>
    </section>


    <section class="xd">
        <img src="images/icon.tarjetas.png" alt="">
        <img src="images/envio a tod.png" alt="">
    </section>

    <footer>
        <div class="footer-1">
          <a href="#">Comunidad</a>
          <a href="#">Nuestras Redes</a>
          <a href="#">Acerca de</a>
          <a href="#">Herramientas</a>
        </div>
        <div class="footer-2">
          <a href="#">Politica de Privacidad</a>
          <a href="#">Aviso Legal</a>
          <a href="#">Condiciones de Uso</a>
        </div>
        <div class="footer-3">
          <h1>Open Market Inc 2023</h1>
        </div>
      </footer>


    <!--<div class="contenedor1">
        <section class="contenedor">
            <div class="caja1">
                <div class="product">
                    <a class="a-producto" href="/producto/SmartTVde60pulgadas4KMarcaRCA">
                        <article>
                            <img src="/images/tele.webp" class="tele" width="150px" alt="tv">
                            <p class="nombre">Smart TV de 60 pulgadas 4K Marca RCA</p>
                            <p class="precio">$ARS 255,000.00</p>
                            <p class="envio-gratis">Envio gratis</p>
                            <a class="ver-mas" href="#">ver más...</a>
                            <img class="carrito" src="/images/carrito.jpg" width="40px" alt="">
                        </article>
                    </a>
                </div>
            </div>
            <div class="caja2">
                <div class="product">
                    <a class="a-producto" href="/producto">
                        <article>
                            <img src="/images/netbook.jpg" class="notebook" width="150px" alt="Notebook">
                            <p class="nombre1">Notebook Hp 245 G8 14' Amd Ryzen 5 5500u 8gb Ram 256gb</p>
                            <p class="precio1">$ARS 539,999.99</p>
                            <p class="envio-gratis1">Envio gratis</p>
                            <a class="ver-mas1" href="#">ver más...</a>
                            <img class="carrito1" src="/images/carrito.jpg" width="40px" alt="">
                        </article>
                    </a>
                </div>
            </div>
        </section>
        <section class="contenedor">
            <div class="caja3">
                <div class="product">
                    <a class="a-producto" href="/produto">
                        <article>
                            <img src="/images/auriculares.jpeg" class="auris" width="100px" alt="auriculares">
                            <p class="nombre2">Auriculares inalámbricos JBL Tune 510BT JBLT510BT</p>
                            <p class="precio7">$ARS 34,499.00</p>
                            <p class="envio-gratis2">Envio gratis</p>
                            <a class="ver-mas2" href="#">ver más...</a>
                            <img class="carrito2" src="/images/carrito.jpg" width="40px" alt="">
                        </article>
                    </a>
                </div>
            </div>


            <div class="caja4">
                <div class="product">
                    <a class="a-producto" href="/producto">
                        <article>
                            <img src="/images/iphone.webp" class="celu" width="120px" alt="iphone">
                            <p class="nombre3">Iphone 14 Pro</p>
                            <p class="precio2">$ARS 34,499.00</p>
                            <p class="envio-gratis3">Envio gratis</p>
                            <a class="ver-mas3" href="#">ver más...</a>
                            <img class="carrito3" src="/images/carrito.jpg" width="40px" alt="">
                        </article>
                    </a>
                </div>
            </div>
    </div>
    </section>
    <div class="contenedor1">
        <section class="contenedor">
            <div class="caja5">
                <div class="product">
                    <a class="a-producto" href="/producto">
                        <article>
                            <img src="/images/antebrazo.jpeg" class="hand" width="150px" height="100px"
                                alt="Hand Grip Mano">
                            <p class="nombre4">Hand Grip Mano</p>
                            <p class="precio3">$ARS 29,000.00</p>
                            <p class="envio-gratis4">Envio gratis</p>
                            <a class="ver-mas4" href="#">ver más...</a>
                            <img class="carrito4" src="/images/carrito.jpg" width="40px" alt="">
                        </article>
                    </a>
                </div>
            </div>
            <div class="caja6">
                <div class="product">
                    <a class="a-producto" href="/producto">
                        <article>
                            <img src="/images/Bicicleta.jpg" class="bici" width="150px" alt="Bicicleta">
                            <p class="nombre5">Bicicleta Mountain Bike Aluminio R29 21V</p>
                            <p class="precio4">$ARS 140,000.00</p>
                            <p class="envio-gratis5">Envio gratis</p>
                            <a class="ver-mas5" href="#">ver más...</a>
                            <img class="carrito5" src="/images/carrito.jpg" width="40px" alt="">
                        </article>
                    </a>
                </div>
            </div>
        </section>
        <section class="contenedor">
            <div class="caja-2">
                <div class="product">
                    <a class="a-producto" href="/producto">
                        <article>
                            <img src="/images/sillon.webp" class="sofa" width="140px" height="100px" alt="Sillon">
                            <p class="nombre6">Sillon Esquinero tela Chenille</p>
                            <p class="precio5">$ARS 255,000.00</p>
                            <p class="envio-gratis6">Envio gratis</p>
                            <a class="ver-mas6" href="#">ver más...</a>
                            <img class="carrito6" src="/images/carrito.jpg" width="40px" alt="">
                        </article>
                    </a>
                </div>
            </div>
            <div class="caja-3">
                <div class="product">
                    <a class="a-producto" href="/producto">
                        <article>
                            <img src="/images/jostik.jpeg" class="jostik" width="140px" height="100px" alt="jostik">
                            <p class="nombre7">Joystick Dualshock Ps4 Black</p>
                            <p class="precio6">$ARS 40.500</p>
                            <p class="envio-gratis7">Envio gratis</p>
                            <a class="ver-mas7" href="#">ver más...</a>
                            <img class="carrito7" src="/images/carrito.jpg" width="40px" alt="">
                        </article>
                    </a>
                </div>
            </div>
    </div>
    </section>-->

</body>

</html>