<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Open Market</title>
</head>

<body>
    <h3 class="ofertas">Ofertas más destacadas</h3>
    <p class="azul">ver todo ></p>
    <div class="caja1">
        <article>
            <img src="/images/tele.webp" width="150px" alt="tv">
            <p class="nombre">Smart TV de 60 pulgadas 4K Marca RCA</p>
            <p class="precio">$ARS 255,000.00</p>
            <p class="envio-gratis">Envio gratis</p>
            <p class="ver-mas">ver más...</p>
            <img class="carrito" src="/images/carrito.jpg" width="40px" alt="">
        </article>
    </div>

</body>

</html>