<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Open Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo" type="images/OpenMarket logo_4.png" href="images/OpenMarket logo_4.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>

<body>
 <header>
     <div class="row-header">
      <div class="logo" id="logo">
      <img src="images/OpenMarket logo_4.png" alt="Logo OpenMarket">
     </div>
     <div class="search-bar header-item">
         <form action="GET">
             <input type="text" id="search" placeholder="Buscar">
             <div class="submit clickable">
                 <i class="fa fa-search">

                 </i>
             </div>
          </form>
      </div>
     <nav class="navbar">
        <ul class="navbar-items">
            <li>Crea tu ceunta</li>
            <li>Mi cuenta</li>
            <li>Mi carrito</li>
        </ul>
     </nav>
     <div class="burger-menu-container">
         <button class="burger-menu">
         <i class="fa fa-bars burger">
             </i>
      </button>
      <nav class="navbar">
          <ul class="navbar-items"> 
             <li>Categorias</li>
             <li>Ofertas del dia</li>
             <li>Ayuda</li>
          </ul>
       </nav>
     </div>
  </header>
   <div>
       <img src="images/electronica_d.avif" alt="banner">
   </div>
   <h3 class="ofertas">Ofertas más destacadas</h3>
    <p class="azul">ver todo ></p>
 <section>   
       <section class="contenedor">
            <div class="caja1">
                <div class="product">
                   <a href="/producto">
                     <article>
                        <img src="/images/tele.webp" class="tele" width="150px" alt="tv">
                        <p class="nombre">Smart TV de 60 pulgadas 4K Marca RCA</p>
                        <p class="precio">$ARS 255,000.00</p>
                        <p class="envio-gratis">Envio gratis</p>
                        <a class="ver-mas" href="#">ver más...</a>
                        <img class="carrito" src="/images/carrito.jpg" width="40px" alt="">
                    </article>
                </a>
            </div>
        </div>
        <div class="caja1">
            <div class="product">
                <a href="/producto">
                    <article>
                        <img src="/images/netbook.jpg" class="notebook" width="150px" alt="Notebook">
                        <p class="nombre1">Notebook Hp 245 G8 14' Amd Ryzen 5 5500u 8gb Ram 256gb</p>
                        <p class="precio1">$ARS 539,999.99</p>
                        <p class="envio-gratis1">Envio gratis</p>
                        <a class="ver-mas1" href="#">ver más...</a>
                        <img class="carrito1" src="/images/carrito.jpg" width="40px" alt="">
                    </article>
                </a>
            </div>
        </div>
    </section>
    <section class="contenedor">
        <div class="caja1">
            <div class="product">
                <a href="/produto">
                    <article>
                        <img src="/images/auriculares.jpeg" class="auris" width="100px" alt="auriculares">
                        <p class="nombre2">Auriculares inalámbricos JBL Tune 510BT JBLT510BT</p>
                        <p class="precio6">$ARS 34,499.00</p>
                        <p class="envio-gratis2">Envio gratis</p>
                        <a class="ver-mas2" href="#">ver más...</a>
                        <img class="carrito2" src="/images/carrito.jpg" width="40px" alt="">
                    </article>
                </a>
            </div>
        </div>
        <div class="caja1">
            <div class="product">
                <a href="/producto">
                    <article>
                        <img src="/images/iphone.webp" class="celu" width="120px" alt="iphone">
                        <p class="nombre3">Iphone 14 Pro</p>
                        <p class="precio2">$ARS 34,499.00</p>
                        <p class="envio-gratis3">Envio gratis</p>
                        <a class="ver-mas3" href="#">ver más...</a>
                        <img class="carrito3" src="/images/carrito.jpg" width="40px" alt="">
                    </article>
                </a>
            </div>
        </div>
    </section>
    <section class="contenedor">
        <div class="caja1">
            <div class="product">
                <a href="/producto">
                    <article>
                        <img src="/images/antebrazo.jpeg" class="hand" width="150px" height="100px"
                            alt="Hand Grip Mano">
                        <p class="nombre4">Hand Grip Mano</p>
                        <p class="precio3">$ARS 29,000.00</p>
                        <p class="envio-gratis4">Envio gratis</p>
                        <a class="ver-mas4" href="#">ver más...</a>
                        <img class="carrito4" src="/images/carrito.jpg" width="40px" alt="">
                    </article>
                </a>
            </div>
        </div>
        <div class="caja1">
            <div class="product">
                <a href="/producto">
                    <article>
                        <img src="/images/Bicicleta.jpg" class="bici" width="150px" alt="Bicicleta">
                        <p class="nombre5">Bicicleta Mountain Bike Aluminio R29 21V</p>
                        <p class="precio4">$ARS 140,000.00</p>
                        <p class="envio-gratis5">Envio gratis</p>
                        <a class="ver-mas5" href="#">ver más...</a>
                        <img class="carrito5" src="/images/carrito.jpg" width="40px" alt="">
                    </article>
                </a>
            </div>
        </div>
    </section>
    <section class="contenedor">
        <div class="caja2">
            <div class="product">
                <a href="/producto">
                    <article>
                        <img src="/images/sillon.webp" class="sofa" width="140px" height="100px" alt="Sillon">
                        <p class="nombre6">Sillon Esquinero tela Chenille</p>
                        <p class="precio5">$ARS 255,000.00</p>
                        <p class="envio-gratis6">Envio gratis</p>
                        <a class="ver-mas6" href="#">ver más...</a>
                        <img class="carrito6" src="/images/carrito.jpg" width="40px" alt="">
                    </article>
                </a>
            </div>
        </div>
    </section>
 </section>
 <footer>
    <div class="footer-items">
        <section class="item-footer">
         <img src="images/icon.tarjetas.png" alt="tajetas">
         <h5 class="item-footer-title">Formas de Pago</h5>
        </section>
        <section class="item-footer">
            <img src="images/envio a tod.png" alt="envio-gratis">
            <h5 class="item-footer-title">¡A donde estes!</h5>
       </section>
    </div>
 </footer>
</body>

</html>