<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/producto.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Open Market</title>
</head>

<body>
    <div class="borde-arriba">
        <i class="fas fa-map-marker-alt"></i>
        <i class="far fa-heart"></i>
        <i class="fas fa-search"></i>
        <i class="fas fa-bars"></i>
        <i class="fas fa-shopping-cart"></i>
    </div>
</body>

</html>