<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Market</title>
    <link rel="stylesheet" href="../public/css/productDetailStyle.css" />
    <script
      src="https://kit.fontawesome.com/b408879b64.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="nav-inicio">
      <a class="nav-icon" href="./index.html">
        <h1>OpenMarket</h1>
      </a>
      <div class="buscador">
        <input type="text" placeholder="Buscar..." />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="btns-nav">
        <a href="./contacto.html">Ingresar</a>
        <a href="./form.html">Registrarse</a>
        <a href="./encargo.html">Carrito</a>
        <a href="./encargo.html">Guardados</a>
      </div>
    </nav>

    <div class="nav-pag">
      <a href="#">Volver</a><span class="barra">|</span> <a href="#">Volver</a
      ><span class="mayor">></span>
      <a href="#">Volver</a>
    </div>

    <article class="producto-main">
      <div class="producto">
        <img
          src="../public/images/auriculares.jpeg"
          width="100%"
          alt=""
          class="imagen-main"
        />
        <div class="imagenes">
          <img src="../public/images/auriculares.jpeg" alt="" />
          <img src="../public/images/auriculares.jpeg" alt="" />
          <img src="../public/images/auriculares.jpeg" alt="" />
          <img src="../public/images/auriculares.jpeg" alt="" />
          <img src="../public/images/auriculares.jpeg" alt="" />
        </div>
      </div>

      <div class="producto-info">
        <div class="info">
          <h1>Nombre del Producto</h1>
          <div class="estrellas">
            <i class="fa-regular fa-star" style="color: #fbff00"></i>
            <i class="fa-regular fa-star" style="color: #fbff00"></i>
            <i class="fa-regular fa-star" style="color: #fbff00"></i>
            <i class="fa-regular fa-star" style="color: #fbff00"></i>
            <i class="fa-regular fa-star" style="color: #fbff00"></i>
            <p>(3205)</p>
          </div>
          <h2>Ofrecido por: Nombre del vendedor/Tienda</h2>
        </div>
        <div class="precio">
          <h2 class="precio">ARS$2000</h2>
        </div>
        <div class="opcionesproducto">
          <h2>Opciones del Producto</h2>
          <div class="op-producto">
            <a href="#">Opcion 1</a>
            <a href="#">Opcion 2</a>
          </div>
        </div>
        <div class="info2">
          <h3>Informacion del Producto</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sed
            temporibus, veniam officiis expedita a exercitationem fugiat
            repellendus aliquam delectus similique explicabo nisi ab repudiandae
            ex ducimus illo recusandae et!
          </p>
        </div>
      </div>

      <div class="datos">
        <div class="acciones">
          <a href="#">Comprar Ahora</a>
          <a href="#">Agregar al Carrito</a>
          <a href="#">Agregar a Guardados</a>
          <a href="#">Enviar a Buenos Aires</a>
          <p>Texto Informativo</p>
        </div>
        <div class="metodospago">
          <h1>Medios de Pago</h1>
          <p>Tarjetas de Credito y Debito</p>
          <div class="metodospago-img">
            <img src="../public/images/metodosdepago/visa.svg" alt="">
            <img src="../public/images/metodosdepago/mastercard.svg" alt="">
            <img src="../public/images/metodosdepago/shopping.svg" alt="">
            <img src="../public/images/metodosdepago/naranja.svg" alt="">
          </div>
          <p>En Efectico y Pago por Sucursales</p>
          <div class="metodospago-img">
            <img src="../public/images/metodosdepago/visadebito.svg" alt="">
            <img src="../public/images/metodosdepago/mastercarddebito.svg" alt="">
          </div>
        </div>
      </div>
    </article>

    <article class="producto-2">
      <h1>Productos Relacionados</h1>
      <div class="productos-relacionados">
        <div class="carta">
          <img src="../public/images/auriculares.jpeg" alt="">
          <div class="carta-info">
            <h1>ARS$3000</h1>
            <h2>Envio Gratis</h2>
            <p>Producto 1</p>
          </div>
        </div>
        <div class="carta">
          <img src="../public/images/auriculares.jpeg" alt="">
          <div class="carta-info">
            <h1>ARS$3000</h1>
            <h2>Envio Gratis</h2>
            <p>Producto 1</p>
          </div>
        </div>
        <div class="carta">
          <img src="../public/images/auriculares.jpeg" alt="">
          <div class="carta-info">
            <h1>ARS$3000</h1>
            <h2>Envio Gratis</h2>
            <p>Producto 1</p>
          </div>
        </div>
        <div class="carta">
          <img src="../public/images/auriculares.jpeg" alt="">
          <div class="carta-info">
            <h1>ARS$3000</h1>
            <h2>Envio Gratis</h2>
            <p>Producto 1</p>
          </div>
        </div>
      </div>

      <div class="caracteristicas">
        <h1>Caracteristicas del Producto</h1>
        <div class="caracteristicas-info">
          <div class="carac-1">
            <p>COSA 1</p>
            <p>COSA 2</p>
            <p>COSA 3</p>
          </div>
          <div class="carac-2">
            <p>COSA 4</p>
            <p>COSA 5</p>
            <p>COSA 6</p>
          </div>
        </div>
        <div class="descripcion">
          <h1>Descripcion</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          A repellendus minus aut autem facere minima voluptate facilis
          ab odit culpa error, labore recusandae fugit ipsum magni, 
          consequatur qui dolores cumque?</p>
        </div>
      </div>

      <div class="op-producto">
        <div class="cuadro-1">
          <div class="puntaje">
            <h1>4,5</h1>
            <div class="estrellas-2">
              <i class="fa-regular fa-star" style="color: #000000"></i>
              <i class="fa-regular fa-star" style="color: #000000"></i>
              <i class="fa-regular fa-star" style="color: #000000"></i>
              <i class="fa-regular fa-star" style="color: #000000"></i>
              <i class="fa-regular fa-star" style="color: #000000"></i>
              <p>3205 Calificados</p>
            </div>
          </div>
        </div>
        <div class="cuadro-2">
          a
        </div>
      </div>
    </article>

    <footer>
      <div class="footer-1">
        <a href="#">Contacto</a>
        <a href="#">Contacto</a>
        <a href="#">Contacto</a>
        <a href="#">Contacto</a>
        <a href="#">Contacto</a>
        <a href="#">Contacto</a>
      </div>
      <div class="footer-2">
        <a href="#">Contacto</a>
        <a href="#">Contacto</a>
        <a href="#">Contacto</a>
      </div>
      <div class="footer-3">
        <h1>Hecho por :3</h1>
      </div>
    </footer>
  </body>
</html>
