/*-----Aplicando css global-----*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
    font-family: sans-serif;
}
body{
    min-width: auto;
    background-color: #201247;
}
/*------Aplicando css al main-----*/
.carrito {

    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 2%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos ael carrito y sección de productos */

.producto{
    display: flex;
    flex-direction: column;
}

.carrito .productos {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.carrito .producto {
    
    align-items: center;
    padding: 20px;
}

.carrito .producto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cantidad {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cantidad button {
    background-color: #460F60;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.cantidad input[type="number"] {
    width: 40px;
    padding: 5px;
    text-align: center;
}

/* Estilos para la sección de forma de pago */

.forma-pago, .envio, .total {
    padding: 20px;
}

.forma-pago label, .envio label {
    margin-top: 10px;
    display: block;
}

.forma-pago input[type="radio"] {
    margin-right: 5px;
}

.forma-pago button {
    background-color: #460F60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.forma-pago button:hover {
    background-color: #460F60;
}

/* Estilos para el botón "Calcular Total" */

.total button {
    background-color: #460F60;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.total button:hover {
    background-color: #460F60;
}

@media(max-width:480px){
    .carrito{
        padding: 20px;
        background-color: #fff;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
    }
}
@media (min-width: 769px){
    .carrito{
        display: block;
        width: 50%;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 2%;
        margin:auto;
        margin-top: 40px;
        margin-bottom: 40px;;
    }
}

