*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #33105a;
}
header{
    background-color: #460F60;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-size: 13px;
}@media(max-width:480px){
.contenedor{
    display: flex;
    flex-direction: column;
}}
.ofertas{
    background-color: #ffff;
}
.cuenta{
    width: 9%;
    position: relative;
    left: 75%;
    top: 11px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.burger1{
    cursor: pointer;
    position: relative;
    right: 10%;
    top: 0px; 
    border: white solid 1px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    width: 7%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.burger{
    position: relative;
    color: #ffff;
}
#search{
    display: none;
}
.burger-menu-conteiner{
    width: 10%;
}
.burger-menu{
    width: 10%
}
.navbar{
    display: none;
}
li{
    display: inline;
}
.carrito-compra{
    width: 9%;
    position: relative;
    left: 15%;
    top: 10px;
}
.submit-clickable{
    position: relative;
    cursor: pointer;
    left: 90%;
    bottom: 70px;
    width: 7%;
    border: black 2px solid;
    background-color: #ffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.lupa{
    position: relative;
    left: 5%;
}
.logo{
    position: relative;
    bottom: 15px;
    height: 50px;
    left: 27%;
    border-radius: 50%;
    width: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.banner{
    width: 100%;
}
.azul{
    text-decoration: none;
    color: #1A30F7;
    position: relative;
    left: 80%;
    top: -40px;
}
article{
    position: relative;
    left: 20px;
}
.product{
    cursor: pointer;
}
.caja-3{
    position: relative;
    margin-top: 10px;
    left: 10px;
    width: 55%;
    background-color: #FBFDFF;
}
.caja-2{
    position: relative;
    margin-top: 10px;
    left: 10px;
    width: 55%;
    background-color: #FBFDFF;
}
.caja1{
    position: relative;
    margin-top: 10px;
    left: 10px;
    width: 55%;
    background-color: #FBFDFF;
}
.caja2{
    position: relative;
    margin-top: 10px;
    left: 10px;
    width: 55%;
    background-color: #FBFDFF;
}
.caja3{
    position: relative;
    margin-top: 10px;
    left: 10px;
    width: 55%;
    background-color: #FBFDFF;
}
.caja4{
    position: relative;
    margin-top: 10px;
    left: 10px;
    width: 55%;
    background-color: #FBFDFF;
}
.caja5{
    position: relative;
    margin-top: 10px;
    left: 10px;
    width: 55%;
    background-color: #FBFDFF;
}
.caja6{
    position: relative;
    margin-top: 10px;
    left: 10px;
    width: 55%;
    background-color: #FBFDFF;
}
.nombre{
    position: relative;
    bottom: 35px;
    right: 10px;
}
.precio{
    color: #13B841;
    position: relative;
    bottom: 45px;
    right: 10px;
}
.envio-gratis{
    color: #039F00;
    position: absolute;
    font-size: 10px;
    top: 185px;
}
.ver-mas{
    position: absolute;
    color: black;
    top: 220px;
    left: 35px;
}
.ver-mas1{
    position: absolute;
    color: black;
    top: 155px;
    left: 35px;
}

.carrito{
    position: absolute;
    left: 115px;
    top: 190px;
}
.carrito1{
    position: absolute;
    left: 115px;
    top: 135px;
}
.nombre1{
    position: relative;
    bottom: 13px;
    right: 10px;
    font-size: 11px;
}
.precio1{
    color: #13B841;
    position: relative;
    bottom: 22px;
    right: 10px;
}
.envio-gratis1{
    color: #039F00;
    position: absolute;
    font-size: 10px;
    left: 0px;
    top: 135px;
    right: 0px;
}
.envio-gratis2{
    color: #039F00;
    position: absolute;
    font-size: 10px;
    left: 0px;
    top: 150px;
    right: 0px;
}
.precio6{
    color: #13B841;
    position: relative;
    bottom: 40px;
    right: 10px;
}
.precio7{
        color: #13B841;
        position: relative;
        bottom: 40px;
        right: 10px;
}
.ver-mas2{
    position: absolute;
    color: black;
    top: 185px;
    left: 35px;
}
.carrito2{
    position: absolute;
    left: 115px;
    top: 165px;
}
.nombre2{
    position: relative;
    bottom: 28px;
    right: 10px;
}
.nombre3{
    position: relative;
    bottom: 20px;
    right: 10px;
}
.precio2{
    color: #13B841;
    position: relative;
    bottom: 30px;
    right: 10px;
}
.envio-gratis3{
    color: #039F00;
    position: absolute;
    font-size: 10px;
    left: 0px;
    top: 175px;
    right: 0px;
}
.carrito3{
    position: absolute;
    left: 115px;
    top: 180px;
}
.ver-mas3{
    position: absolute;
    color: black;
    top: 200px;
    left: 35px;
}
.nombre4{
    position: relative;
    bottom: 10px;
    right: 10px;
}
.precio3{
    color: #13B841;
    position: relative;
    bottom: 20px;
    right: 10px;
}
.envio-gratis4{
    color: #039F00;
    position: absolute;
    font-size: 10px;
    left: 0px;
    top: 135px;
    right: 0px;
}
.carrito4{
    position: absolute;
    left: 115px;
    top: 130px;
}
.ver-mas4{
    position: absolute;
    color: black;
    top: 155px;
    left: 35px;
}
.nombre5{
    position: relative;
    bottom: 20px;
    right: 10px;
    font-size: 12px;
}
.precio4{
    color: #13B841;
    position: relative;
    bottom: 34px;
    right: 10px;
}
.envio-gratis5{
    color: #039F00;
    position: absolute;
    font-size: 10px;
    left: 0px;
    top: 135px;
    right: 0px;
}
.carrito5{
    position: absolute;
    left: 115px;
    top: 143px;
}
.ver-mas5{
    position: absolute;
    color: black;
    top: 165px;
    left: 35px;
}
.nombre6{
    position: relative;
    bottom: 15px;
    right: 10px;
}
.precio5{
    color: #13B841;
    position: relative;
    bottom: 30px;
    right: 10px;
}
.envio-gratis6{
    color: #039F00;
    position: absolute;
    font-size: 10px;
    left: 0px;
    top: 125px;
    right: 0px;
}
.carrito6{
    position: absolute;
    left: 115px;
    top: 130px;
}
.ver-mas6{
    position: absolute;
    color: black;
    top: 155px;
    left: 35px;
}
.footer-items{
    width: 100%;
}
.item-footer{
    position: relative;
    top: 10px;
    width: 100%;
}
.item-footer1{
    position: relative;
    top: 25px;
    width: 100%;
}
.item-footer-title{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
}

.carrito7{
    position: absolute;
    left: 115px;
    top: 130px;
}
.ver-mas7{
    position: absolute;
    color: black;
    top: 155px;
    left: 35px;
}
.nombre7{
    position: relative;
    bottom: 30px;
    right: 10px;
}
.envio-gratis7{
    color: #039F00;
    position: absolute;
    font-size: 10px;
    left: 0px;
    top: 115px;
    right: 0px;
}
@media (min-width:481px){
    article{
        width: 80%;
    }
    .contenedor{
        width: 100%;
        max-width: 630px;
        display: flex;
        justify-content: space-evenly;
    }
    .nombre{
        font-size: 12px;
    }
    .caja-2{
        position: relative;
        margin-left: 50px;
        width: 100%;
        left: 0px;
    }
    .caja-3{
        position: relative;
        margin-left: 50px;
        width: 100%;
        left: 0px;
    }
    .caja1{
        margin-left: 50px;
        left: 0px;
        width: 100%;
    }
    .caja2{
        margin-left: 50px;
        left: 0px;
        width: 100%;
    }
    .caja3{
        margin-left: 50px;
        left: 0px;
        width: 100%;
    }
    .caja4{
        margin-left: 50px;
        left: 0px;
        width: 100%;
    }
    .caja5{
        margin-left: 50px;
        left: 0px;
        width: 100%;
    }
    .caja6{
        margin-left: 50px;
        left: 0px;
        width: 100%;
    }
    .carrito,.carrito1{
        left: 130px;
        top: 180px;
    }
    .ver-mas{
        left: 30%;
        top: 90%;
    }
    .ver-mas1{
        left: 30%;
        top: 120%;
    }
    .envio-gratis{
        top: 174px;
    }
    .sofa{
        width: 80%;
    }
    .envio-gratis1{
        top: 150px;
    }
    .nombre1{
        font-size: 11px;
    }
    .ver-mas2{
        top: 100%;
        left: 30%;
    }
    .ver-mas3{
        left: 30%;
    }
    .carrito2,.carrito3{
        top: 85%;
        left: 80%;
    }
    .nombre3{
        font-size: 15px;
    }
    .nombre2{
        font-size: 12px;
        bottom: 16px;
    }
    .precio7{
        bottom: 30px;
    }
    .precio6{
        bottom: 30px;
    }
    .ver-mas4,.ver-mas5{
        left: 30%;
    }
    .carrito4{
        left: 85%;
    }
    .nombre4{
        font-size: 15px;
    }
    .precio3{
        bottom: 25px;
    }
    .envio-gratis4{
        top: 130px;
    }
    .envio-gratis5{
        top: 125px;
    }
    .ver-mas5{
        top: 90%;
    }
    .carrito5{
        top:78%;
        left: 85%;
    }
    .nombre6{
        font-size: 18px;
    }
    .carrito6{
        top: 80%;
        left: 85%;
    }
    .envio-gratis6{
        top: 160px;
    }
    .ver-mas6{
        left: 30%;
        top: 95%;
    }
    .nombre5{
        font-size: 11px;
    }
    .ver-mas7{
        left: 30%;
        top:100%;
    }
    .carrito7{
        top: 90%;
        left: 85%;
    }
}

@media (min-width: 769px){
    .azul{
        left: 90%;
    }
    .contenedor1{
        max-width: 861px;
        position: relative;
        width: 100%;
        right: 5%;
        display: flex;
        justify-content: space-around;
    }
    .contenedor{
        width: 100%;
    }
    .product{
        width: 90%;
    }
    .caja1{
        width: 100%;
        height: 230px;
    }
    .caja2{
        width: 100%;
    }
    .caja3{
        width: 100%;
    }
    .caja4{
        width: 100%;
    }
    .caja5{
        width: 100%;
        height: 230px;
    }
    .caja6{
        width: 100%;
    }
    .caja-2{
        width: 40%;
    }
    .caja-3{
        width: 40%;
    }
    .carrito7{
        left: 10%;
    }
    .jostik{
        width: 100%;
    }
    .celu{
        width: 100%;
        height: 100px;
    }
    .tele{
        width: 100%;
        height: 100px;
    }
    .hand{
        width: 100%;
    }
    .notebook{
        width: 100%;
        height: 90px;
    }
    .auris{
        width: 100%;
        width: 80px;
    }
    .bici{
        width: 100%;
        height: 80px;
    }
    .sofa{
        width: 100%;
        height: 80px;
    }
    .nombre{
        font-size: 10px;
        bottom: 20px;
    }
    .precio{
        bottom: 15px;
    }
    .envio-gratis{
        top: 160px;
    }
    .envio-gratis1{
        top: 160px;
    }
    .ver-mas{
        top: 120%;
        left: 10%;
    }
    .ver-mas1{
        top: 116%;
        left: 10%;
    }
    .ver-mas2{
        left: 10%;
        top: 115%;
    }
    .ver-mas3{
        top: 124%;
        left: 10%;
    }
    .carrito{
        top: 110%;
        left: 80%;
    }
    .carrito1{
        top: 106%;
        left: 80%;
    }
    .carrito2{
        top: 106%;
        left: 80%;
    }
    .carrito3{
        left: 80%;
        top: 115%;
    }
    .nombre2{
        font-size: 10px;
    }
    .nombre3{
        font-size: 12px;
    }
    .envio-gratis2,.envio-gratis3{
        top: 160px;
    }
    .nombre4,.nombre5,.nombre6{
        font-size: 10px;
    }
    .nombre4{
        top: -23px;
    }
    .envio-gratis4{
        top: 150px;
    }
    .ver-mas4{
        top: 130%;
        left: 10%;
    }
    .ver-mas5{
        left: 10%;
        top: 137%;
    }
    .carrito4{
        left: 80%;
        top: 117%;
    }
    .carrito5{
        left: 80%;
        top: 124%;
    }
    .carrito6{
        left: 80%;
        top: 124%;
    }
    .ver-mas6{
        left: 10%;
        top: 136%;
    }
    .ver-mas7{
        left: 10%;
        top: 113%;
    }
    .carrito7{
        left: 80%;
        top: 103%;
    }
    .nombre4{
        bottom: 20px;
    }
    .nombre5,.nombre6{
        bottom: 5px;
    }
    .precio4,.precio5{
        bottom: 10px;
    }
    .envio-gratis5{
        top: 150px;
    }
    .envio-gratis6{
        top: 150px;
    }
    .precio6{
        bottom: 40px;
    }
    .precio7{
        bottom: 21px;
    }
    .precio2{
        bottom: 10px;
    }
    .envio-gratis7{
        top: 150px;
    }
    .precio3{
        bottom: 20px;
    }
}