*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {   
 min-width: auto;
 font-family: 'Roboto', sans-serif;  
}
/*--------------footer------------*/
footer {
    width: 100%;
    background: rgb(48,20,66);
    background: linear-gradient(90deg, rgba(48,20,66,1) 0%, rgba(87,35,149,0.9753151260504201) 49%, rgba(48,20,66,1) 100%);
    text-decoration: none;
    }
    
    footer a { 
        text-decoration: none;
        transition: 0.3s ease-in-out all;
    }
    
    footer a:hover {
        color: rgb(172, 169, 169);
    }
    
    .footer-1 {
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .footer-1 a {
        text-decoration: none;
        color: white;
        font-size: 17px;
    }
    
    .footer-2 {
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .footer-2 a {
        font-size: 15px;
        color: white;
    }
    
    .footer-3 {
        text-align: center;
        font-size: 7px;
        padding: 5px;
        letter-spacing: 3px;
    }
    
    