/*-----Aplicando css global-----*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
    font-family: sans-serif;
}
body{
    min-width: auto;
    background-color: #201247;
}
/*-----Aplicando css al main-----*/
.contenedor-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px 60px 40px;
    gap: 1.5em;
    max-width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 2%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;;
}
.titulo h2{
    font-size: 1.5em;
}
.caja-datos{
    width: 100%;
}
   .caja-datos .control{
       width: 100%;
       padding: 0.5em;
   }
   .botones{
    display: flex;
    gap: 2em;
   } 
   .botones button{
    color: white;
    background-color: #460F60;
    border: none;
    width: 100%;
    padding: 1em 2em 1em 2em;
    cursor: pointer;
    transition: .3s ease all;
}
.boton button:hover{
    background: #59147a
}
@media (min-width: 769px){
    .contenedor-register{
        max-width: 40%;
    }
}
@media(max-width:480px){
    .contenedor-register{
        max-width: 80%;
    }
}
