<!DOCTYPE html>
<html lang="es">
 <head>
      <%- include('partials/head') %>
      <title>Mi Carrito</title>
     <link rel="stylesheet" href="/css/carrito.css">
 </head>
 
 <body>
     <%- include('partials/header') %>

     <main>
     
      <article>
          <div class="imagen-nombre">
          <img class="imagen" src="/images/auriculares.jpeg" alt="">
          <p class="nombre">Auriculares inalámbricos JBL Tune 510BT JBLT510BT</p>
          </div>
          <div class="boton-comprar">
          <button class="boton" type="reset">Eliminar</button>
          <button class="comprar" type="submit">Guardar</button>
          </div>
         <div class="junto">
            <form class="cantidad">
               <label for="quantity">Unidad:</label>
               <input type="number" id="quantity" name="quantity" min="1" max="5">
            </form>
            <p class="precio-solo">$ARS 34,499.00</p>
        </div>
     </article>
     
     <div class="footer">
        <div class="color-footer">
        <div class="total">
            <div class="precio">
                <p>Producto</p>
                <p>Envio</p>
                <p>Total</p>
            </div>
            <div class="precio1">
                <p>$ARS 34,499.00</p>
                <p>$0</p>
                <p>$ARS 34,499.00</p>
            </div>
        </div>    
        <button class="compra-final" type="submit">Continuar compra</button>
        </div>
      </div>
     </main>

     <%- include('partials/footer') %>
 </body>

</html>