<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Open Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo" type="images/OpenMarket logo_4.png" href="images/OpenMarket logo_4.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img class="cuenta" src="/images/burger menu (2).png" alt="">
        <a href="/carrito"><img class="carrito-compra" src="/images/burger menu (3).png" alt="carrito"></a>
        <button class="burger1"><i class="fas fa-bars burger"></i></button>
        <div class="row-header">
            <div class="logo">
                <img class="ocupaElLogo" src="images/OpenMarket logo_4.png" alt="Logo OpenMarket">
            </div>
            <div class="search-bar header-item">
                <form action="GET">
                    <input class="renglon-busqueda" type="text" id="search" placeholder="Buscar">
                    <div>
                        <button class="submit-clickable"><i class="fa fa-search lupa"></i></button>
                    </div>
                </form>
            </div>
            <nav class="navbar">
                <ul class="navbar-items">
                    <a href="#">
                        <li>Crea tu ceunta</li>
                    </a>
                    <a href="#">
                        <li>Mi cuenta</li>
                    </a>
                    <a href="#">
                        <li>Mi carrito</li>
                    </a>
                </ul>
                <ul class="navbar-items">
                    <a href="#">
                        <li>Categorias</li>
                    </a>
                    <a href="#">
                        <li>Ofertas del dia</li>
                    </a>
                    <a href="#">
                        <li>Ayuda</li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="flecha"><i class="fas fa-arrow-left flecha"></i></div>
        <div class="ubi"><i class="fas fa-map-marker-alt ubi"></i></div>
        <h3>Carrito de compras</h3>
        <a class="ubicacion" href="/ubicacion">Enviar a</a>
    </header>
    <article>
        <img class="imagen" src="/images/auriculares.jpeg" alt="">
        <p class="nombre">Auriculares inalámbricos JBL Tune 510BT JBLT510BT</p>
        <button class="boton" type="reset">Eliminar</button>
        <button class="comprar" type="submit">Guardar</button>
        <div class="total">
            <div class="precio">
                <p class="precio">Producto</p>
                <p class="precio">Envio</p>
                <p class="precio">Total</p>
            </div>
            <div class="precio1">
                <p class="precio1">$ARS 34,499.00</p>
                <p class="precio1">$0</p>
                <p class="precio1">$ARS 34,499.00</p>
            </div>
            <button class="compra-final" type="submit">Continuar compra</button>
        </div>
    </article>
</body>

</html>