<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main class="main-create">
      <form action="/products/create" method="post" enctype="multipart/form-data">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>

        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" min="0.00" max ="10000.00" step ="0.01">
        
        <label for="image">Imagen:</label>
        <input type="file" id="image" name="image" accept="image/*">

        <label for="envio">envio:</label>
        <input type="text" id="envio" name="envio" required>

        
        <input type = "submit" value = "Enviar">
      </form>
    </main>

 <%- include('partials/footer') %>

</body>
</html>