<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulario.css">
    <link rel="logo" type="images/OpenMarket logo_4.png" href="images/OpenMarket logo_4.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Edu+SA+Beginner&family=Playfair+Display:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <title>Editar</title>
</head>
<body>
    <header>
        <div class="parte-superior">
            <div class="esquina-iz">
                <div class="items-menu">
                <i class="fas fa-bars"></i>
                </div>
                <div class="items-carrito">
                <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="logo">
            <h1>OPEN MARKET</h1>
            </div>
        </div>
        <div class="buscador">
            <form class="form" action="get">
                <input type="text" placeholder="Buscar..." />
                <button><i  class="fa fa-search lupa"></i></button>
            </form>
        </div>
        <div class="personal"><i class="fas fa-user-circle"></i></div>
    </header>

    <main>
        <form action=" " method="post">
           <h1>Editar Producto</h1> 

           <label for="name">Nombre:</label>
           <input type="text" id="name" name="name" value="<%=product.name %>" required><br>
           
           <label for="price">Precio:</label>
           <input type="number" id="precio" name="price" value="<%=product.price %>" required><br>

           <label for="descripcion">Envio:</label>
           <input type="number" id="precio" name="envio" value="<%=product.envio %>" required><br>

           <label for="descripcion">Imagen:</label>
           <input type="file" name="foto" accept=".jpg" class="control">

           <input type="submit" value="Guardar">
        </form>
        
    </main>
</body>
</html>