<!DOCTYPE html>
<html lang="en">
 
 <%- include('./partials/head')%>

 <title>Open Market</title>

 <body>
     <%- include('./partials/header') %>

        <div>
            <img class="banner" src="images/logoYbanner/Banner.gif" alt="banner">
        </div>

        <h3 class="ofertas">OFERTAS MAS DESTACADAS</h3>

     <%-include('./partials/forEach') %>

     <h4>FORMAS DE PAGO</h4>
        <section class="xd">
            
            <div class="tarjetas">
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-paypal"></i>
            </div>

         
            <img src="/images/envio-a-tod.avif" alt="">
        </section>

     <%-include('./partials/footer') %>
 </body>
</html>