<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Open Market</title>
</head>


<body>
    <%- include('./partials/header') %>
        <div>
            <img class="banner" src="images/electronica_d.avif" alt="banner">
        </div>
        <h3 class="ofertas">OFERTAS MAS DESTACADAS</h3>
        <%-include('./partials/forEach') %>

        <section class="xd">
            <img src="images/icon.tarjetas.png" alt="">
            <img src="images/envio a tod.png" alt="">
        </section>

        <%-include('./partials/footer') %>