<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/login.css">
    <!-- Head -->
    <%-include('./partials/head')%>
    <!-- Head -->
<body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- Header-->
        <main>
            <form action="/login" method="post">
            <div class="contenedor-login">
                
                <div class="titulo">
                    <h2>Iniciar sesion</h2>
                </div>
                <div class="caja-datos">
                    <p>Email</p>
                    <input class="datos" type="email" name="email" id="email" required>
                </div>
                <div class="caja-datos">
                    <p>Contraseña</p>
                    <input class="datos" type="password" name="contraseña" id="contraseña" required>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Recordarme</label>
                </div>
                <div class="pregunta">
                    <p><a href="#">¿Olvidaste tu contraseña</a></p>
                </div>
                <div class="caja-datos">
                    <div class="boton">
                        <button type="submit" href="#"><span>ENVIAR</span></button>
                    </div>
                </div>
            
            </div>
        </form>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- /Footer -->
</body>
</html>