<!DOCTYPE html>
<html lang="es">
    <title>Ingresa</title>
    <link rel="stylesheet" href="/css/login.css">

    <%-include('./partials/head')%>

 <body>  
      <%- include('./partials/header') %>
 
        <main>
            <form action="/user/login" method="post">
            <div class="contenedor-login">
                
                <div class="titulo">
                    <h2>Iniciar sesion</h2>
                </div>
                <div class="caja-datos">
                    <p>Email</p>
                    <input class="label datos" type="text"name="email"  class="form-control">
                    <% if(locals.errors && errors.email){ %>
                        <div class="text-danger" style="color: red;">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="caja-datos">
                    <p>Contraseña</p>
                    <input class="datos" type="password" name="password" id="contraseña">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Recordarme</label>
                </div>
                <div class="pregunta">
                    <p><a href="#">¿Olvidaste tu contraseña?</a></p>
                    <p>o ¿Todavia no tenes cuenta?</p>
                    <p><a href="/register">Registrate</a></p>
                </div>
                <div class="caja-datos">
                    <div class="boton">
                        <button type="submit" href="/profile"><span>ENVIAR</span></button>
                    </div>
                </div>
            
            </div>
        </form>
        </main>

      <%- include('partials/footer') %> 
 </body>
</html>