<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>login</title>
    <link rel="logo" type="images/OpenMarket logo_4.png" href="images/OpenMarket logo_4.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Edu+SA+Beginner&family=Playfair+Display:wght@500&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="parte-superior">
            <div class="esquina-iz">
                <div class="items-menu">
                <i class="fas fa-bars"></i>
                </div>
                <img class="carrito-compra" src="/images/burger menu (3).png" alt="">
            </div>
            <h1>OPEN MARKET</h1>
        
            <div class="logo">
                <img class="ocupaElLogo" src="images/OpenMarket logo_4.png" alt="Logo OpenMarket">
            </div>
                <img class="cuenta" src="/images/burger menu (2).png" alt="">
        </div>
        <div class="subir">
            <form class="agrandar" action="GET">
                <input class="renglon-busqueda" type="text" id="search" placeholder="Buscar">
                <div class="icono-buscar">
                    <button class="submit-clickable"><i class="fa fa-search lupa"></i></button>
                </div>
            </form>
        </div>

        


        

        
            
            
            <nav class="navbar">
                <ul class="navbar-items">
                    <a href="#">
                        <li>Crea tu ceunta</li>
                    </a>
                    <a href="#">
                        <li>Mi cuenta</li>
                    </a>
                    <a href="#">
                        <li>Mi carrito</li>
                    </a>
                </ul>
                <ul class="navbar-items">
                    <a href="#">
                        <li>Categorias</li>
                    </a>
                    <a href="#">
                        <li>Ofertas del dia</li>
                    </a>
                    <a href="#">
                        <li>Ayuda</li>
                    </a>
                </ul>
            </nav>
    </header>


    <main>
        <form class="cuerpo-formulario">
            <div class="formulario">    
            <label class="label" for="usuario">Nombre de Usuario:</label>
            <input class="label" type="text"name="usuario" required pattern=".{4,}" title="usuario" class="control">
        
            <label class="label" for="contrasena">Contraseña:</label>
            <input class="label" type="password"name="contrasena" required pattern=".{8,}" placeholder="Ingresa almenos 8 caracteres" class="control">

        
            <button type="submit" class="boton">Enviar</button>
            </div>
        </form>


    </main>
    <footer>
        <div class="Herramientas">
             <a class="a" href="#">Comunidad</a>
             <a class="a" href="#">Nuestras Redes</a>
             <a class="a" href="#">Acerca De</a>
             <a class="a" href="#">Herramientas</a>
             <a class="a" href="#">Política de Privacidad</a>
             <a class="a" href="#">Aviso Legal</a>
             <a class="a" href="#">Condiciones de Uso</a>
        </div>
        <a href="#">Open Market Inc 2023 Dirección Wall Street 298</a>
        
    </footer>
    
</body>
</html>