<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/login.css">
    <!-- Head -->
    <%-include('./partials/head')%>
    <!-- Head -->
<body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- Header-->
        <main>
            <form action="/user/login" method="post">
            <div class="contenedor-login">
                
                <div class="titulo">
                    <h2>Iniciar sesion</h2>
                </div>
                <div class="caja-datos">
                    <p>Email</p>
                    <input class="label datos" type="text"name="email"  class="form-control">
                    <% if(locals.errors && errors.email){ %>
                        <div class="text-danger" style="color: red;">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="caja-datos">
                    <p>Contrase単a</p>
                    <input class="datos" type="password" name="password" id="contrase単a">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Recordarme</label>
                </div>
                <div class="pregunta">
                    <p><a href="#">多Olvidaste tu contrase単a</a></p>
                </div>
                <div class="caja-datos">
                    <div class="boton">
                        <button type="submit" href="#"><span>ENVIAR</span></button>
                    </div>
                </div>
            
            </div>
        </form>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- /Footer -->
</body>
</html>