<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body>
    <%- include('./partials/header') %>
</body>
</html>