<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/producto.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Open Market</title>
</head>

<body>
    <div class="borde-arriba">
        <p class="producto">Producto</p>
        <i class="fas fa-bars menu"></i>
        <i class="fas fa-map-marker-alt ubi"></i>
        <i class="far fa-heart corazon"></i>
        <i class="fas fa-search lupa"></i>
        <i class="fas fa-shopping-cart carrito"></i>
    </div>
    <p class="nombre">Smart TV de 60 pulgadas 4K Marca RCA</p>
    <img src="/images/tele.webp" class="tele" width="150px" alt="tv">
    <div class="caja">
        <p id="comprar">Comprar ahora</p>
        <p id="carro">Agregar al carrito</p>
        <p id="guardados">Agregar a guardados</p>
    </div>
    <p class="ars">$ARS</p>
    <p class="precio"> 255,000.00</p>
    <p class="cuotas">En 12 cuotas sin interes</p>
    <a class="medios" href="#">Ver medios de pago</a>
    <div class="caja1">
        <i class="fas fa-truck camion">Envio a todo el pais</i>
    </div>
    <a class="devolucion" href="#">Devolucion gratis</a>
    <p class="retira">Retira gratis entre el 20 y el 30x de Agosto. En correo y otros puntos</p>
    <i class="fas fa-store-alt tienda"></i>
    <a class="mapa" href="#">Ver mapa</a>
</body>

</html>