<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/css/register.css">
<!-- Head -->
<%-include('./partials/head')%>
<!-- Head -->
    <body>
        <!-- Header -->
        <%- include('./partials/header') %>
        <!-- Header-->

            <main>
                <form action="/register" method="post" enctype="multipart/form-data">
                <div class="contenedor-register">
                    <div class="titulo">
                        <h2>Registrate</h2>
                    </div>

                    <div class="caja-datos">
                        <label for="email">Email</label>
                        <input type="email" name="email" required pattern=".{4,}" class="datos">
                    </div>
                    <div class="caja-datos">
                        <label for="contraseña">Contraseña</label>
                        <input type="password" name="contrasena" required class="datos">
                    </div>
                    <div class="caja-datos">
                        <label for="confirmar">Confirma tu contraseña</label>
                        <input type="password" name="confirmar" required class="datos">
                    </div>
                    <div class="caja-datos">
                        <label for="nacimiento">Fecha de nacimiento</label>
                        <input type="date" name="nacimiento" required class="datos">
                    </div>
                    <div class="caja-datos">
                        <label for="domicilio">Domicilio</label>
                        <input type="text" name="domicilio" required pattern=".{5,}" class="datos">
                    </div>
                    <div class="caja-datos">
                        <label for="perfil">Perfil de usuario</label>
                        <select name="perfil">
                            <option value="comprador">Comprador</option>
                            <option value="vendedor">Vendedor</option>
                        </select>
                    </div>
                    <div class="caja-datos">
                        <label for="nombre">Nombre y Apellido</label>
                        <input type="text" name="nombre" required pattern=".{6,}" class="datos">
                    </div>
                    <div class="caja-datos">
                        <label for="foto">Foto de perfil</label>
                        <input type="file" name="foto" accept=".jpg" class="datos">
                    </div>
                    <div class="botones">
                        <button class="enviar" type="submit">Enviar</button>
                        <button class="borrar" type="reset">Borrar</button>
                    </div>
                </div>
            </form>
            </main>
            <!-- Footer -->
            <%- include('partials/footer') %>
            <!-- /Footer -->
    </body>

</html>