<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="css/register.css">
    <title>¡Registro en proceso!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@700&family=Raleway:wght@300;600&family=Roboto+Slab:wght@300;800&display=swap" rel="stylesheet">
    <%-include('./partials/head')%>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <header>
        <div class="parte-superior">
            <div class="esquina-iz">
                <div class="items-menu">
                <i class="fas fa-bars"></i>
                </div>
                <div class="items-carrito">
                <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="logo">
            <h1>OPEN MARKET</h1>
            </div>
        </div>
        <div class="buscador">
            <form action="get">
                <input type="text" placeholder="Buscar..." />
                <button><i  class="fa fa-search lupa"></i></button>
            </form>
        </div>
        <div class="personal"><i class="fas fa-user-circle"></i></div>
    </header>

    <main>
         <div class="caja-registro">
               <div class="img-register"> 
                 <img src="images/personal-data-3.svg" id="ima-register">
                </div>
                <div class="caja-register">    
                    <h2 id="titulo">¡REGISTRATE!</h2>
                 <form action="/register" method="POST">     
                     
                     <div class="caja-formulario">

                         <label for="nombreC">Nombre y Apellido:</label>
                         <input type="text" name="nombreC" id="input">

                          <label for="Usuario">Usuario:</label>
                          <input type="text" name="Usuario" id="input">

                          <label for="password">Contraseña:</label>
                          <input type="password" name="password" id="input">

                         <label for="Email">Email:</label>
                         <input type="text" name="Email" id="input">

                         <label for="telefono">Numero de telefono</label>
                         <input type="tel" name="telefono" id="input">

                          <input type="submit" name="Registrar" value="Registrar" id="boton">
                     </div>  
                 </form>   
                 <div class="google-faceb">
                     <h3 id="titulo">O continuar con</h3>
                       </div>
                     <nav class="redes">
                         <a href="#" class="google">
                             <img src="images/img.gmail.svg" id="icono">
                          </a>
                          <a href="#" class="facebook">
                             <img src="images/img.faceb.svg" id="icono">
                           </a>       
                      </nav>   
                  </div>
              </div>            
           </div>  
             
    </main>
   <footer>
    <div class="Herramientas">
        <a class="a" href="#">Comunidad</a>
        <a class="a" href="#">Nuestras Redes</a>
        <a class="a" href="#">Acerca De</a>
        <a class="a" href="#">Herramientas</a>
        <a class="a" href="#">Política de Privacidad</a>
        <a class="a" href="#">Aviso Legal</a>
        <a class="a" href="#">Condiciones de Uso</a>
   </div>
   <a href="#">Open Market Inc 2023 Dirección Wall Street 298</a>
 </footer>
</body>
</html>