
<html lang="es">
 <head>
    
      <%-include('./partials/head')%>

     <title>Registro</title>
  
     <link rel="stylesheet" href="/css/register.css">

  </head>

 <body>
     <%-include('./partials/header')%>

     <main>
        
         <form action="/register" method="post" enctype="multipart/form-data" class="form-form">
            <div class="contenedor-register">
                <div class="titulo">
                    <h2>Registrarme</h2>
                </div>
            <div class="caja-datos">
            <label for="nombre">Nombre y Apellido:</label><br>
            <input type="text"name="nombre"  class="control">
            </div>
            <div class="caja-datos">
            <label for="email">Email:</label><br>
            <input type="email"name="email" class="control">
            <% if(locals.errors && errors.email){ %>
                <div class="text-danger" style="color: red;">
                    <%= errors.email.msg %>
                </div>
                <% } %>
            </div>
            <div class="caja-datos">
            <label for="foto">Foto de Usuario:</label><br>
            <input type="file" name="foto" class="control">
            </div>
            <div class="caja-datos">
            <label for="contrasena">Contraseña:</label><br>
            <input type="password"name="contrasena"class="control">
        </div>
        <div class="caja-datos">
            <label for="country">Pais:</label><br>
            <input type="text"name="country" required class="control">
            </div>
            <div class="botones">
            <button type="submit">Enviar</button>
            <button type="reset">Limpiar Campos</button>
            </div>
        </div>
          </form>
          
      </main>

     <%-include('./partials/footer')%>
     
 </body>
</html>