<!DOCTYPE html>
<html lang="es">
 <head>
    
      <%-include('./partials/head')%>

     <title>Registro</title>
  
     <link rel="stylesheet" href="/css/formulario.css">

  </head>

 <body>
     <%-include('./partials/header')%>

     <main>
        <div class="contenedor-register">
         <form action="/register" method="post" enctype="multipart/form-data" class="form-form">
            
            <div class="nombre-usuario">
            <label for="nombre">Nombre y Apellido:</label>
            <input type="text"name="nombre"  class="control">
            
            <label for="email">Email:</label>
            <input type="email"name="email" class="control">
            <% if(locals.errors && errors.email){ %>
                <div class="text-danger" style="color: red;">
                    <%= errors.email.msg %>
                </div>
                <% } %>
            </div>
        
            <label for="foto">Foto de Usuario:</label>
            <input type="file" name="foto" class="control">
        
            <div class="Contraseña-confirmar">
            <label for="contrasena">Contraseña:</label>
            <input type="password"name="password"  class="control">
        
            <label for="confirmarContrasena">Pais:</label>
            <input type="text"name="country" required class="control">
            </div>
            <div class="enviar-campos">
            <button type="submit" class="boton">Enviar</button>
            <button type="reset" class="boton">Limpiar Campos</button>
            </div>
          </form>
          </div>
      </main>

     <%-include('./partials/footer')%>
     
 </body>
</html>