<footer>
    <div class="footer-1">
        <a href="#">Comunidad</a>
        <a href="#">Nuestras Redes</a>
        <a href="#">Acerca de</a>
        <a href="#">Herramientas</a>
    </div>
    <div class="footer-2">
        <a href="#">Politica de Privacidad</a>
        <a href="#">Aviso Legal</a>
        <a href="#">Condiciones de Uso</a>
    </div>
    <div class="footer-3">
        <h1>Open Market Inc 2023</h1>
    </div>
</footer>