<header> 
  <div class="encabezado">

    <nav class="nav-inicio">
     
      <a class="logo" href="/">
        <img src="/images/logoYbanner/logo-no-background.svg" class="logo" alt="Logo">
      </a>

      <div class="buscador">
        <form action="get">
          <input type="text" placeholder="Buscar...">
          <button><i class="fa-solid fa-magnifying-glass" id="boton"></i></button>
        </form>
      </div>
      
      <div class="burger-menu">
      <button class="burger-menu">
         <a href="/login"><i class="fa fa-bars burger" id="menu-hamburguesa"></i></a>
      </button>
     </div>

      <div class="botns-nav">
        <a href="/login"><i class="fas fa-sign-in-alt"id="iconos"></i></a>
        <a href="/carrito"><i class="fas fa-shopping-cart" id="iconos"></i></a>
      </div>

    </nav>

    <div class="navegadores">
      <ul>
        <li><i class="fas fa-chevron-circle-down"></i>Categorias</li>
        <li><i class="fas fa-user-tag"></i>Las mejores Ofertas</li>
        <li><i class="fas fa-headphones"></i>Centro de Ayuda</li>
      </ul>
    </div>

    <div class="Administrar-40"><a href="/products/listado">Administrar</a></div>

 

  </div>

</header>