<header>

  <div class="encabezado">

    <nav class="nav-inicio">

        <a class="logo" href="/">
         <img src="/images/logoYbanner/logo-no-background.svg" class="logo" alt="Logo">
        </a>

        <div class="buscador">
            <form action="get">
                <input type="text" placeholder="Buscar..." />
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

        <div class="botns-nav">
           <a href="/login"><i class="fas fa-user-circle"></i></a>
           <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>

    </nav>

    <div class="Administrar-40"><a href="/products/listado">Administrar</a></div>

    <div class="mobile">
      <img class="cuenta" src="/images/burger menu (2).png" alt="">
      <a href="/carrito"><img class="carrito-compra" src="/images/burger menu (3).png" alt="carrito"></a>
      <button class="burger1"><i class="fas fa-bars burger"></i></button>
    </div>

  </div>



  


  

</header>